{% assign activity = site.data.activities[page.data_name] %}

{% if activity.nickname %}
  {% assign short_name = activity.nickname %}
{% else %}
  {% assign short_name = activity.name %}
{% endif %}

{% assign unhangout = site.data.unhangouts[page.data_name] %}

{% if unhangout %}
  <div class="callout no-heading">
    <div class="tile">
      <p class="no-space"><strong>Want to learn more about {{ short_name }}?</strong><br />
      {% if unhangout.url %}
        <a href="{{ unhangout.url }}">Join our upcoming unhangout!</a><br />
        <em>{{ unhangout.date }}</em>
      {% else %}
        Join our unhangout: {{ unhangout.date }}!<br />
        <em>Stay tuned for more info!</em>
      {% endif %}
      </p>
    </div>
  </div>
{% endif %}

<div class="main">
  <h2>{{ activity.name }}</h2>
  <p>{{ activity.description }}</p>

  <p>Have you implemented a {{ short_name }} activity? Have feedback to share? Questions about how to get started? <a href="mailto:{{ site.email }}">Get in touch!</a></p>
</div>

<div class="details">
  {% if activity.video %}
    <div class="video-container">
      {{ activity.video }}
    </div>
  {% endif %}

  <h2>{{ short_name }} at a Glance</h2>
  <ul class="activity-details">
    {% for item in activity.details %}
      <li><span class="info-label">{{ item[0] | replace:'_',' ' | capitalize }}: </span> {{ item[1] }}</li>
    {% endfor %}
  </ul>
  <ul class="resource-links">
    {% for resource in activity.resources %}
      <li><a href={{ resource.url }}>{{ resource.description }}</a></li>
    {% endfor %}
  </ul>
</div>

{% if activity.photos %}
  <div class="community">
    <h2>From the Community</h2>
    <div class="image-container">
      {% for image in activity.photos %}
        <img src={{ image | relative_url }} alt="{{ short_name }} in action" />
      {% endfor %}
    </div>
  </div>
{% endif %}